.wordslist__item__new {
  width: 90%;
  margin: auto;
  margin-bottom: 1%;
  background-color: var(--wordcard-background-color);
}

@media screen and (max-width: 900px) {
  .wordslist__item__new {
    margin-bottom: 3%;
  }
}

.wordslist__item__new p {
  margin-bottom: 0;
}

.wordslist__item__form {
  width: 75vw;
  margin: 2%;
}

.wordslist__item__form form {
  display: flex;
  width: 75vw;
  margin-top: 1%;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .wordslist__item__form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wordslist__item__form form input {
    width: 100%;
  }
}

.wordslist__addInput {
  width: 15vw;
  height: 4.5vh;
  padding: 0;
  border: var(--general-table-border);
  background-color: var(--header-footer-color);
  outline: none;
  font-size: 0.9rem;
}

@media screen and (max-width: 900px) {
  .wordslist__addInput {
    height: 3vh;
    font-size: 0.5rem;
  }
}

.wordslist__addInput:focus {
  border: solid 3px var(--arrow-left-background);
}

@media screen and (max-width: 900px) {
  .wordslist__addInput:focus {
    border: solid 1px var(--arrow-left-background);
  }
}

.wordslist__buttons {
  display: flex;
}

.wordslist__save,
.wordslist__cancel {
  width: 6vw;
  height: 100%;
  border: var(--general-table-border);
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .wordslist__save,
  .wordslist__cancel {
    margin-top: 1%;
    width: 12vw;
  }
}

.wordslist__save {
  margin-right: 3%;
  background-color: var(--words-button-edit);
}

.wordslist__cancel {
  background-color: var(--words-button-delete);
}

.wordslist__save:hover,
.wordslist__cancel:hover {
  color: var(--header-footer-color);
}

.wordslist__msg__error,
.wordslist__msg__success {
  font-size: 0.9rem;
  text-align: center;
  color: var(--header-footer-color);
}

.wordslist__msg__error {
  background-color: var(--arrow-left-background);
}

.wordslist__msg__success {
  background-color: var(--words-button-edit);
}

.hidden {
  display: none;
}
