.header {
    display: flex;
    position: sticky;
    top: 0;
    height: 21vh;
    width: 100vw;
    align-items: center;
    background-color: var(--header-footer-background);
}
.header__logo {
    height: 21vh;
    padding: 5% 26% 0 26%;
    background-color: var(--header-footer-color);
}
.header__title {
    margin-left: 20%;
    text-transform: uppercase;
    color: var(--header-footer-color);
}
.header__title h1 {
    margin-bottom: 0;
}
.header__title h3 {
    margin-top: 1%;
}
.header__menu {
    margin-left: 15%;
}
.header__links {
    text-decoration: none;
    color: var(--header-footer-color);
}
.header__links:hover {
    color: var(--header-footer-background);
    background-color: var(--header-footer-color);
}
