.header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100vw;
  align-items: center;
  background-color: var(--header-footer-background);
}

.header__main {
  display: flex;
  width: inherit;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .header__main {
    width: 100%;
    margin: 3%;
    flex-direction: column;
  }
}

.header a {
  width: 200px;
}

.header__logo {
  width: 200px;
  padding: 5%;
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 90%;
  }
}

.header__title {
  text-transform: uppercase;
  color: var(--header-footer-color);
}

@media screen and (max-width: 900px) {
  .header__title {
    width: 100%;
  }
}

.header__title h1 {
  margin-bottom: 0;
}

.header__title h3 {
  margin-top: 1%;
}

.header__menu {
  margin-left: 15%;
}

@media screen and (max-width: 900px) {
  .header__menu {
    width: 100%;
    margin-left: 0;
    margin-top: 7%;
  }
  .header__menu ul {
    display: flex;
    list-style-type: none;
  }
  .header__menu ul li {
    margin-right: 3%;
  }
}

.header__links {
  text-decoration: none;
  color: var(--header-footer-color);
}

.header__links:hover {
  color: var(--header-footer-background);
  background-color: var(--header-footer-color);
}
