.container {
  display: flex;
  width: 100%;
  padding: 2% 20%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 2%;
  }
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  width: 45px;
  height: 45px;
  margin: auto;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .button {
    width: 25px;
    height: 25px;
  }
}

.button:hover {
  box-shadow: var(--arrow-buttons-hover);
}

.arrow_left {
  background-color: var(--light-color-red-other);
}

.arrow_right {
  background-color: var(--light-color-blue);
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--general-color-white);
}

@media screen and (max-width: 480px) {
  .icon {
    width: 15px;
    height: 15px;
  }
}
