.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--general-color-black);
}

@media screen and (max-width: 900px) {
  .header {
    padding: 4%;
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo {
  width: 150px;
  padding: 5%;
}

.title {
  text-transform: uppercase;
  color: var(--general-color-white);
}

.title h1 {
  margin: 0;
}

.nav {
  padding: 2%;
}

@media screen and (max-width: 900px) {
  .nav {
    margin-top: 1%;
    padding: 0;
  }

  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}

.nav a {
  text-decoration: none;
  color: var(--general-color-white);
}

.nav a:hover {
  color: var(--general-color-black);
  background-color: var(--general-color-white);
}
