.container {
  width: 300px;
  height: 300px;
  border-radius: var(--general-border-radius);
  box-shadow: var(--wordcard-box-shadow);
  background-color: var(--general-color-pink);
}

@media screen and (max-width: 480px) {
  .container {
    width: 200px;
    height: 200px;
  }
}

.card_info,
.card_translation,
.card_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_info h3,
.card_info h4 {
  text-transform: uppercase;
  color: var(--general-color-white);
}

.card_info h3 {
  padding: 4%;
}

.card_info h4 {
  padding: 1%;
  background-color: var(--general-color-yellow-green);
}

.card_info h1 {
  display: flex;
  margin-top: 15%;
  flex-wrap: wrap;
  font-size: 2rem;
}

.card_translation {
  padding: 9% 5%;
  align-items: flex-end;
}

.card_translation button {
  padding: 1.5%;
  border: var(--general-color-white);
  border-radius: var(--general-border-radius);
  cursor: pointer;
  outline: none;
}

.card_translation button:hover {
  color: var(--general-color-white);
  background-color: var(--light-color-red-other);
}

.card_translation button:focus {
  background-color: var(--light-color-red-other);
}

.card_translation p {
  padding: 2%;
  color: var(--general-color-white);
  background-color: var(--dark-color-blue);
}
