/* normalize.css */
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

/* font-family */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

#root {
    height: 100%;
}
body {
    font-family: "Quicksand", sans-serif;
}
html,
body {
    height: 100%;
}
html {
    overflow-x: hidden;
}
.App__container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container__main {
    flex: 1 0 auto;
}
.loading__indicator {
    width: fit-content;
    margin: 5% auto;
}
.loading__indicator_position {
    display: flex;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loading__indicator_error {
    margin-top: 5%;
    color: var(--error-message-color);
}
