/* normalize.css */
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}
html, body {
    height: 100%;
}
html { 
    overflow-x: hidden;
}
.App__container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container__main {
    flex: 1 1 auto;
    padding: 30px;
}