.wordcard {
    display: flex;
    justify-content: center;
}
.wordcard__box {
    width: 30vw;
    height: 50vh;
    margin-top: 2%;
    border-radius: var(--general-border-radius);
    box-shadow: var(--wordcard-box-shadow);
    background-color: var(--wordcard-background-color);
}
.wordcard__close, .wordcard__language, .wordcard__word, .wordcard__transcription, .wordcard__translation {
    display: flex;
    justify-content: center;
}
.wordcard__close {
    margin: 1% 2% 0 0;
    justify-content: flex-end;
}
.wordcard__close:hover {
    cursor: pointer;
    color: var(--header-footer-color);
}
.wordcard__language {
    width: 5vw;
    height: 3vh;
    margin: 0 auto;
    align-items: center;
    background-color: var(--word-card-button);
}
.wordcard__word {
    margin-top: 20%;
    margin-bottom: 0;
    font-size: 5rem;
}
.wordcard__translation {
    margin-top: 19%;
    margin-right: 2%;
    justify-content: flex-end;
}
.wordcard__translation button {
    height: 3vh;
    border: var(--general-table-border);
    border-radius: var(--general-border-radius);
    cursor: pointer;
}
.wordcard__translation button:hover {
    color: var(--header-footer-color);
    background-color: var(--word-card-button);
}