.wordcard {
    display: flex;
    justify-content: center;
}
.wordcard__box {
    width: 30vw;
    height: 50vh;
    border-radius: var(--general-border-radius);
    box-shadow: var(--wordcard-box-shadow);
    background-color: var(--wordcard-background-color);
}
.wordcard__language, .wordcard__learned, .wordcard__word, .wordcard__transcription, .wordcard__translation {
    display: flex;
    justify-content: center;
}
.wordcard__language {
    height: 1vh;
    align-items: center;
    text-transform: uppercase;
    color: var(--header-footer-color);
}
.wordcard__learned {
    height: 4vh;
    align-items: center;
    text-transform: uppercase;
    color: var(--header-footer-color);
    background-color: var(--words-button-edit);
}
.wordcard__word {
    margin-top: 20%;
    margin-bottom: 0;
    font-size: 4rem;
}
.wordcard__translation {
    margin-top: 16%;
    margin-right: 2%;
    justify-content: flex-end;
}
.wordcard__translation button {
    height: 3vh;
    border: var(--header-footer-color);
    border-radius: var(--general-border-radius);
    cursor: pointer;
}
.wordcard__translation button:hover {
    color: var(--header-footer-color);
    background-color: var(--arrow-left-background);
}
.wordcard__translation button:focus {
    background-color: var(--arrow-left-background);
}
.translation {
    margin-top: 0;
    padding: 1%;
    color: var(--header-footer-color);
    background-color: var(--word-card-button);
}