.wordslist__item__box_add {
    width: 100%;
    height: 4vh;
}
.wordslist__item__box_add td {
    padding: 0;
}
.wordslist__add {
    width: 20vw;
    height: 4vh;
    padding: 0;
    border: var(--general-table-border);
    background-color: var(--header-footer-color);
}
.buttons {
    width: 10vw;
}
.wordslist__save, .wordslist__cancel {
    width: 5vw;
    margin: 2%;
    border: var(--general-table-border);
    border-radius: 5px;
    cursor: pointer;
}
.wordslist__save {
    background-color: var(--words-button-edit);
}
.wordslist__cancel {
    background-color: var(--words-button-delete);
}
.wordslist__save:hover, .wordslist__cancel:hover {
    color: var(--header-footer-color);
}
.hidden {
    display: none;
}