.wordslist__item__box {
    width: 100%;
    height: 4vh;
    border: var(--general-table-border);
    background-color: var(--header-footer-color);
}
.item_modify {
    width: 20vw;
    padding-left: 1%;
    font-weight: 200;
    border: var(--general-table-border);
}
.buttons {
    display: flex;
    width: 10vw;
    padding: 0;
    justify-content: flex-end;
    border: var(--general-table-border);
}
.wordslist__edit, .wordslist__delete {
    margin: 2%;
    padding: 2% 3% 0 3%;
    border: var(--general-table-border);
    border-radius: 5px;
    cursor: pointer;
}
.wordslist__edit_icon, .wordslist__delete_icon {
    width: 20px;
    height: 20px;
}
.wordslist__edit:hover {
    color: var(--header-footer-color);
    background-color: var(--words-button-edit);
}
.wordslist__delete:hover {
    color: var(--header-footer-color);
    background-color: var(--words-button-delete);
}
.hidden {
    display: none;
}