.wordslist__item__box {
    width: 100%;
    height: 4vh;
    border: var(--general-table-border);
    background-color: var(--header-footer-color);
}
.item_modification {
    padding-left: 1%;
    font-weight: 200;
    border: var(--general-table-border);
}
.buttons {
    display: flex;
    justify-content: flex-end;
}
.wordslist__edit, .wordslist__delete {
    margin: 2%;
    border: var(--general-table-border);
    border-radius: 5px;
    cursor: pointer;
}
.wordslist__edit img, .wordslist__delete img {
    width: 20px;
    height: 20px;
}
.wordslist__edit:hover {
    background-color: var(--words-button-edit);
}
.wordslist__delete:hover {
    background-color: var(--words-button-delete);
}
.hidden {
    display: none;
}